.drop-down {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
  cursor: pointer;
}
.drop-down.disabled {
  opacity: 0.8;
  //pointer-events: none;
  cursor: not-allowed;
}
.drop-down {
  font-size: 14px;
  .selected {
    height: 55px;
    border-radius: 12px;
    border: 1px solid #D2D6DE;
    background:#fff no-repeat scroll right center;
    padding:0 10px 0 20px;
    text-decoration:none;
    color: #333333;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: 0.3s;
    .text {
      width: calc(100% - 24px);
      opacity: 0;
    }
    .text.show {
      opacity: 1;
    }
    .icon {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        transition: 0.3s;
      }
    }
    .icon.open {
      img {
        transform: rotate(180deg);
      }
    }
    &:hover {
      border: 1px solid #9ca1a6;
    }
  }
  .selected.focus {
    border: 1px solid #80bdff;
    .text, .icon {
      opacity: 0.5;
    }
  }
}

.drop-down .selected a span{
  cursor:pointer;
  display:block;
  padding:5px;
}

.drop-down .options {
  position: absolute;
  overflow: hidden;
  border-radius: 12px;
  top: 56px;
  left: 0;
  border: 1px solid #D2D6DE;
  width: 100%;
  opacity: 0;
  box-shadow: 0 0 4px rgba(114, 149, 192, 0.25);
}
.drop-down > .options.show {
  opacity: 1;
}

.drop-down .options ul{
  background: #fff none repeat scroll 0 0;
  list-style: none;
  padding: 0;
  left: 0;
  top: 32px;
  width: auto;
  min-width: 170px;
  max-height: 240px;
  overflow-y: scroll;
  & li {
    padding: 0 20px;
  }
}

.drop-down .selected span.value, .drop-down .options span.value{
  // display: none;
}

.drop-down .options ul li{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 47px;
  text-decoration: none;
  color: #333333;
  max-height: 350px;
}

.drop-down .options ul li:hover{
  background: #F9F9F9;
  color: #333333;
  transition: 0.2s ease;
}
