@import "fonts";
@import "normalize";

@import "header";
@import "buttons";


.blog-container {
  width: calc(100% - 100px);
  max-width: 1700px;
  margin: auto;
  // overflow: hidden;
  @media (max-width: 690px) {
    width: calc(100% - 40px);
    max-width: 100%;
  }
}
.blog-container.article-container {
  max-width: 1440px;
}
.aside-wrapper {
  position: sticky;
  top: 100px
}
