@media screen and (max-width: 899px) {
  .Trial {
    margin-top: 100px;
    padding: 55px 0;

    .TrialContainer {
      flex-direction: column;
      padding: 0;
      max-width: 100%;
      row-gap: 48px;

      .TrialImage {
        width: 100%;

        img {
          max-width: 100% !important;
        }
      }

      .TrialText {
        margin-left: 0;
        width: 100%;
        padding: 0;

        .TrialTitle {
          row-gap: 30px;
          h2 {
            font-size:   2rem;     // 32px
            line-height: 2.125rem; // 38px
          }

          p {
            br {
              display: none;
            }
          }
        }

        .TrialItems {
          column-gap: 32px;
          row-gap: 32px;
          br {
            display: none;
          }
          .TrialItemsItem {
            min-width: 120px;
            max-width: 140px;
          }
        }

        .TrialReports {
          row-gap: 60px;
          .TrialReportsReport {
            min-width: 280px;
          }
        }

        .TrialForm {
          justify-content: flex-start;
          align-items: center;
          width: 100%;

          button {
            padding: 12px 36px;
            white-space: nowrap;
          }

          span {
            display: none;
          }
        }
      }
    }
  }
}
